{% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/face.ico' %}" />
    <title>
        Arnab Chanda | Porfolio Website
    </title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/jQuery.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <script src="{% static 'js/main.js' %}"></script>

</head>

<body>

    <div class="entire-body w-75 fluid-responsive">
        <nav class="navbar round2 navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{% url 'index' %}">Arnab Chanda</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% static 'Files/Resume/Resume.pdf' %}">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row fluid-responsive main-items">
            <!-- This is my card -->
            <div class="container card col-md-4 round social fluid-responsive align-items-center">
                <div class="imageHolder justify-content-center">
                    <img src="{% static 'images/profile_pic.jpg' %}" class="rounded-circle" width="200px" height="200px">
                </div>

                <div class="nameAndInfoHolder align-items-center">
                    <h3>Arnab Chanda</h3>
                    <h6><i>Student and Developer</i></h6>
                    <h6><i>Kolkata, India</i></h6>
                </div>

                <div class=" row profile-social-links align-items-center">
                    <li><a href="https://www.instagram.com/arnaaabbb/" target="_blank" rel="noopener"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/arnablp.chanda" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://github.com/Arnie09" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/arnab-chanda-aa671017a/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="mailto:arnabchanda964@gmail.com" target="_blank" rel="noopener"><i class="fa fa-envelope"></i></a></li>
                </div>


            </div>

            <!-- This is the blog card -->
            <div class="blog-posts container card col-md-6 round fluid-responsive">

                <div class="container fluid-responsive align-items-center">
                    <br>
                    <br>
                    <h4 align="center">Most Recent posts </h4>
                    <div class="recent-blogs-block">
                        <br> {% for post in blogs %}
                        <li class="container">
                            <div class="row round2 d-flex justify-content-between recent-blogs container ">
                                <a class="h6 font-weight-bold float-left" href="{% url 'post_detail' post.slug  %}">{{post.title}}</a>
                                <a class="h6 float-right font-weight-italic">{{post.date}}</a>
                            </div>
                        </li>
                        {%endfor%}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <footer id="footer" class="footer">
        <div class="copyright">Copyright © 2019 - 2020 Arnab Chanda </div>
    </footer> -->
</body>

</html>