{% extends 'mySite/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <i class=" text-muted">{{ post.author }} | {{ post.created_on }}</i>
        <br>
        <br>
        <div class = "image-container" style="text-align: center;">
            <img src = "{{ object.image.url }}" class="img-fluid" alt="Responsive image" >
        </div>

        <br>
        <br>
        
        <p class="card-text ">{{ object.content | safe }}</p>
        <br>
        <br>
        
        </div>
    </div>
    
  </div>
</div>

{% endblock content %}